.noPadding {
  padding: 0;
}

.noBorder {
  border: none;
}

.noMargin {
    margin: 0;
}

.inlineBlock {
    display: inline-block;
}

.verticalCenter {
    margin: auto 0;
}

.paddingTopBottom12 {
  padding: 12% 0;
}

.paddingBottom5vh {
    padding-bottom: 5vh;
}

.height100 {
  height: 100%;
}

.height3vh {
    height: 3vh;
}

.width100 {
  width: 100%;
}

.fixed {
  position: fixed;
}

.bgHeader {
  background-color: #fff;
  box-shadow: 0vh 0vh 2vh #000000;
  z-index: 99;
}

.bgJumbo {
    background-image: url("../images/ptns/purty_wood_@2X.png");
} /* Background pattern from Toptal Subtle Patterns */


.bgGreenFibers {
    background-image: url("../images/ptns/green_fibers_light_2x.jpg");
} /* Background pattern from Toptal Subtle Patterns */

.bgGreenLeather {
    background-image: url("../images/ptns/leather_1_green.jpg");
} /* Background pattern from Toptal Subtle Patterns */

.navbar-brand img {
  height: 10vh;
}

.taglinePadding {
  padding: 1vh 0 1vh;
}

.divider {
  width: 25%;
  height: 0.25vh;
  background-color: #000;
  margin: 0 auto;
}

.hvr-sweep-to-bottom:before {
  background: rgb(100, 124, 38, 0.5);
}

.navLinkText {
  font-size: 2.5vh;
}

.navBorderLeft {
  border-left: 1px solid #c4c4c4;
}
.navBorderRight {
  border-right: 1px solid #c4c4c4;
}

.nav-link:hover {
  color: #fff !important;
}

.noListStyle {
    list-style: none;
}

.font1 {
    font-size: 1.5em;
}

.articlePadding {
    padding: 3vw;
}

.textAlignLeft {
    text-align: left;
}

.maxWidth100 {
    max-width: 100%;
}

/*MEDIA QUERIES*/
@media (max-width: 1199px) {
  .paddingTopBottom12 {
    padding: 3vh;
  }
}
