/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&family=Montserrat&display=swap');

.headerFont {
    font-family: 'Lexend Giga', sans-serif;
    margin: 0 auto 1rem;
    font-size: 1.8rem;
    color: #000;
    text-shadow: #2B4B0C 0 0.2rem 0.4rem;
}

.subHeaderFont {
    font-family: 'Lexend Giga', sans-serif;
    margin: 1rem auto 1rem;
    font-size: 1.5rem;
    color: #000;
}

.minorHeaderFont {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 1.2rem;
    color: #000;
}

.mainFont {
    font-family: 'Montserrat', sans-serif;
}

.lightYellowFont {
    color: #FFFFC6;
}

/* Removing default styling*/
.noPadding {
  padding: 0;
}

.noBorder {
  border: none;
}

.noBackground {
    background: none;
}

.noMargin {
    margin: 0;
}

.noListStyle {
    list-style: none;
}

/*Override Bootstrap Styling*/
.btn:hover {
    background: rgba(100,124,38,0.25);
}
.btn:focus {
    box-shadow: none;
    background: rgba(43,75,12,0.25);
}

.btn {
    padding: 1.375rem 0.75rem;
}

/*Alignment and positioning*/
.inlineBlock {
    display: inline-block;
}

.verticalCenter {
    margin: auto 0;
}

.fixed {
  position: fixed;
}

.textAlignLeft {
    text-align: left;
}

/*Element sizing*/
.paddingTopBottom12 {
  padding: 12% 0;
}

.paddingBottom5vh {
    padding-bottom: 5vh;
}

.height100 {
  height: 100%;
}

.height3vh {
    height: 3vh;
}

.width100 {
  width: 100%;
}

.navbar-brand img {
  height: 10vh;
}

.taglinePadding {
  padding: 1vh 0 1vh;
}

.navLinkText {
  font-size: 2.5vh;
}

.font1 {
    font-size: 1.3rem;
}

.articleMargin {
    margin: 3vw;
}

.maxWidth100 {
    max-width: 100%;
}

/*Backgrounds*/
.bgHeader {
  background-color: #fff;
  box-shadow: 0vh 0vh 2vh #000000;
  z-index: 99;
}

.bgWhite {
    background-color: #fff;
}

.bgPurtyWood {
    background-image: url("../images/ptns/purty_wood.png");
} /* Background pattern from Toptal Subtle Patterns */


.bgGreenFibers {
    background-image: url("../images/ptns/green_fibers_light_2x.jpg");
} /* Background pattern from Toptal Subtle Patterns */

.bgGreenLeather {
    background-image: url("../images/ptns/leather_1_green.jpg");
} /* Background pattern from Toptal Subtle Patterns */

.bgBrownLeather {
    background-image: url("../images/ptns/leather_1_brown.jpg");
} /* Background pattern from Toptal Subtle Patterns */

.bgGlass {
    background-image: linear-gradient(135deg, rgba(108,108,108,0.15), rgba(255,255,255,0.15), rgba(108,108,108,0.25));
    border-width: 1px; 
    border-color: rgba(108,108,108,0.25);
    border-style: outset;
}

.bgDarkGreen {
    background: #2B4B0C;
}

/*NAVBAR Styling*/
.divider {
  width: 25%;
  height: 0.25vh;
  background-color: #000;
  margin: 0 auto;
}

.hvr-sweep-to-bottom:before {
  background: rgb(100, 124, 38, 0.5);
}

.navBorderLeft {
  border-left: 1px solid #c4c4c4;
}
.navBorderRight {
  border-right: 1px solid #c4c4c4;
}

.nav-link:hover {
  color: #fff !important;
}

/*Link Styling*/
a {
    color: #FFFFAE;
}
a:focus {
    color: #E6FFA7;
    background: rgba(222,235,188,0.25);
    border: none;
    outline: none;
    text-decoration: none;
}
a:visited {
	color: #647C26;
}
a:hover {
	color: #E6FFA7;
    background: rgba(222,235,188,0.25);
    text-decoration: none;
}
a:active {
    color: #663300;
}

/*MEDIA QUERIES*/
@media (max-width: 1199px) {
  .paddingTopBottom12 {
    padding: 3vh;
  }
}
